@import 'variables';
@import '~bootstrap/scss/bootstrap.scss';

@import '_vue-bar';

body {
  font-size: .875rem;
}

.container {
  transition: all .2s cubic-bezier(.55,0,.1,1);
}

.page-enter-active, .page-leave-active {
  transition: opacity .2s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.navbar-brand img {
  margin-top: -2px;
  margin-bottom: -5px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow: hidden;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  small.version {
    font-size: 60%;
    padding: 3px 0 0 7px;
    position: absolute;
  }
}
.navbar-brand a {
  color: #eaeaea;
  text-decoration: none;
}

.collapsing {
  transition: none !important;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.form-icon > i.fa {
  position: relative;
  margin: 0px 0 0 -17px;
  color: #343a40;
}

.form-icon > .form-control {
  padding-right: 18px;
}

.breadcrumb {
  padding: 0px;
  font-size: 11px;
  background-color: transparent;
}

.badge-socket {
  width: 74px;
  text-align: left;
  padding: 0.25em 0.6em;
  > i.fa.fa-circle-o-notch {
    height: .9em;
    font-weight: bold;
  }
}